appname = TravelSphere
httpport = 8081
runmode = dev
sessionon = true
sessionprovider = memory
sessiongcmaxlifetime = 3600
copyrequestbody = true

# Custom Third-Party Keys (can be read via web.AppConfig)
OPENTRIPMAP_API_KEY=your_opentripmap_key_here
WEATHERAPI_KEY=your_weatherapi_key_here